from requests.auth import HTTPBasicAuth

domain = "ratehub"
emailAccount = "-----@ratehub.ca"
apiToken = "-----"

cloudVersion = "3"
agileVersion = "1.0"
cloudApiAddress = "https://{domain}.atlassian.net/rest/api/{version}/".format(domain = domain, version = cloudVersion)
agileApiAddress = "https://{domain}.atlassian.net/rest/agile/{version}/".format(domain = domain, version = agileVersion)

config = {
    "cloudApiAddress" : cloudApiAddress,
    "agileApiAddress" : agileApiAddress,
    "auth": HTTPBasicAuth(emailAccount, apiToken),
    "dbFile": './db/sqlite3/storage/db.sqlite'
}