from requests.auth import HTTPBasicAuth

domain = "ratehub"
emailAccount = "example@email.com"
apiToken = "---------"

cloudApiVersion = "3"
agileApiVersion = "1.0"
cloudApiAddress = "https://{domain}.atlassian.net/rest/api/{version}/".format(domain = domain, version = cloudApiVersion)
agileApiAddress = "https://{domain}.atlassian.net/rest/agile/{version}/".format(domain = domain, version = agileApiVersion)

config = {
    "cloudApiAddress" : cloudApiAddress,
    "agileApiAddress" : agileApiAddress,
    "auth": HTTPBasicAuth(emailAccount, apiToken),
    "postgresDbName": 'postgres',
    'postgresHost': '0.0.0.0',
    'postgresPort': '5432',
    'postgresUser': 'postgres',
    'postgresPassword': 'mypasswd',
    'redshiftDbName': 'dev',
    'redshiftHost': '------------',
    'redshiftPort': '5439',
    'redshiftUser': '------------',
    'redshiftPassword': '--------',
}